* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

h4 {
    font-size: 20px;
    color: #333;
    font-weight: normal;
}

p {
    font-size: 1rem;
    color: #6a6a6a;
    font-weight: normal;
}

.header_top-bar {
    width: 100%;
    border-bottom: lightpink solid 1px;

}

.header_top-bar-section {
    width: 1024px;
    margin: 0 auto;
    height: 24px;
}

.site-copy {
    display: inline-block;
    width: 535px;
    height: 13px;
    font-size: 12px;
    font-weight: normal;
    margin-left: 15px;
}

.top-bar-item-text-inner {
    display: inline-block;
    width: 89px;
    height: 18px;
    font-size: 12px;
}

.header_language-select {
    position: relative;
    display: inline-block;
    width: 114px;
    height: 18px;
    border: black solid 1px;
    border-radius: 9px;
    font-size: 12px;
    text-align: center;
    transition: all .3s .3s;
}

.header_language-select>.language-list {
    position: absolute;
    display: inline-block;
    left: 0px;
    top: 20px;
    width: 110px;
    height: 0px;
    text-align: center;
    font-size: 14px;
    line-height: 1.7;
    border: transparent solid 2px;
    border-radius: 5px;
    overflow: hidden;
}

.top-bar-item-text-inner:hover {
    color: rgb(0, 87, 184);
}

.header_language-select:hover {
    cursor: pointer;
    border: rgb(0, 87, 184) solid 1px;
    background-color: rgb(0, 87, 184);
    color: rgb(255, 255, 255);
    transition: all .3s .3s;
}

.header_language-select:hover .language-list {
    height: 50px;
    border: rgb(0, 87, 184) solid 2px;
    transition: all .3s .3s;
}

.header_nav {
    height: 88px;
    border-bottom: rgb(0, 87, 184) solid 5px;

}

.header_nav-section {
    position: relative;
    width: 1024px;
    height: 88px;
    margin: 0 auto;
}

.logo-section {
    box-sizing: border-box;
    width: 300px;
    height: 88px;
}

.logo,
.nav_area {
    float: left;
    margin-left: 7px;
    margin-right: 7px;
}

.logo-inner {
    box-sizing: border-box;
    width: 300px;
    height: 50px;
}

.nav_area {
    color: rgb(0, 87, 184);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    text-indent: 10px;
}

.nav_area-select {
    position: relative;
    background-color: rgb(242, 242, 242);
    width: 80px;
    height: 20px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: normal;
    color: #000;
    text-indent: 0px;
    text-align: center;
    cursor: pointer;
    transition: all .3s .3s;
}

.nav_area-list {
    position: absolute;
    top: 22px;
    right: -12px;
    border: transparent solid 2px;
    border-radius: 10px;
    font-size: 16px;
    height: 0px;
    width: 150px;
    line-height: 1.7;
    background-color: #fff;
    overflow: hidden;
    transition: all .3s .3s;
    z-index: 2;
}

.nav_area-select:hover {
    background-color: rgb(0, 87, 184);
    color: rgb(255, 255, 255);
    transition: all .3s .3s;

}

.nav_area-select:hover .nav_area-list {
    border: rgb(0, 87, 184) solid 2px;
    height: 310px;
    transition: all .3s .3s;
}

.item-display-section {
    box-sizing: border-box;
    width: 1024px;
    height: 350px;
    margin: 0 auto;

}

.item-display-section .genre-inner {
    float: left;
    box-sizing: border-box;
    width: 160px;
    height: 350px;

}

div[class^=genre] {
    position: relative;
    box-sizing: border-box;
    height: 43.75px;
    line-height: 43.75px;
    background-color: rgb(0, 87, 184);
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}


div[class^=content-of-genre] {
    position: absolute;
    left: 140px;
    width: 0;
    height: 0;
    overflow: hidden;
    transition: all .2s;
    z-index: 0;
}

.content-of-genre1 {
    top: 0;
}

.content-of-genre2 {
    top: -43.75px;
}

.content-of-genre3 {
    top: -87.5px;

}

.content-of-genre4 {
    top: -131.25px;
}

.content-of-genre5 {
    top: -175px;
}

.content-of-genre6 {
    top: -218.75px;
}

.content-of-genre7 {
    top: -262.5px;
}

.content-of-genre8 {
    top: -306.25px;
}

.genre1:hover .content-of-genre1 {
    border: rgb(0, 87, 184) solid 2px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    width: 882px;
    height: 375px;
    z-index: 3;
    transition: all .2s;
}

.genre2:hover .content-of-genre2 {

    border: rgb(0, 87, 184) solid 2px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    width: 882px;
    height: 380px;
    z-index: 3;
    transition: all .2s;
}

.genre3:hover .content-of-genre3 {
    border: rgb(0, 87, 184) solid 2px;
    visibility: visible;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    width: 760px;
    height: 350px;
    z-index: 3;
    transition: all .2s;
}

.genre4:hover .content-of-genre4 {
    border: rgb(0, 87, 184) solid 2px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    width: 970px;
    height: 380px;
    z-index: 3;
    transition: all .2s;
}

.genre5:hover .content-of-genre5 {
    border: rgb(0, 87, 184) solid 2px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    width: 882px;
    height: 380px;
    z-index: 3;
    transition: all .2s;
}

.genre6:hover .content-of-genre6 {
    border: rgb(0, 87, 184) solid 2px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    width: 882px;
    height: 380px;
    z-index: 3;
    transition: all .2s;
}

.genre7:hover .content-of-genre7 {
    border: rgb(0, 87, 184) solid 2px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    width: 882px;
    height: 400px;
    z-index: 3;
    transition: all .2s;
}

.genre8:hover .content-of-genre8 {
    border: rgb(0, 87, 184) solid 2px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
    width: 882px;
    height: 380px;
    z-index: 3;
    transition: all .2s;
}

.bestseller {
    float: left;
    width: 236px;
    height: 392px;
    margin-left: 15px;
    margin-bottom: 2px;
    transition: all .2s;
}

.bestseller:hover {
    position: relative;
    top: 2px;
    box-shadow: 5px 1px 10px rgba(0, 0, 0, .3);
}

.pagelink,
.jrtour-pagelink,
.rail-hotel-pagelink {
    position: relative;
    top: 340px;
    margin-left: 10px;
    width: 110px;
    height: 20px;
    float: left;
    border: black solid 1px;
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    border-radius: 10px;
    transition: all .2s;
}

.pagelink:hover,
.jrtour-pagelink:hover,
.rail-hotel-pagelink:hover {
    background-color: rgb(0, 87, 184);
    border: rgb(0, 87, 184) solid 1px;
    color: rgb(255, 255, 255);
    transition: all .2s;
}

.bustour-bestseller,
.jrtour-bestseller,
.rail-hotel {
    float: left;
    box-sizing: border-box;
    width: 236px;
    height: 392px;
    margin-left: 15px;
    margin-bottom: 2px;
    transition: all .2s;
}

.item-title {
    height: 100px;
    padding-top: 3px;
}

.bustour-bestseller:hover,
.jrtour-bestseller:hover,
.rail-hotel:hover,
.area:hover,
.ssguide:hover {
    position: relative;
    top: 2px;
    box-shadow: 5px 1px 10px rgba(0, 0, 0, .3);
}

.genre2 li a,
.genre5 li a,
.genre6 li a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    line-height: 20px;

}

.bustour-pagelink {
    position: relative;
    top: 340px;
    margin-left: 10px;
    width: 110px;
    height: 20px;
    float: left;
    border: black solid 1px;
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    border-radius: 10px;
    transition: all .2s;
}

.bustour-pagelink:hover {
    background-color: rgb(0, 87, 184);
    border: rgb(0, 87, 184) solid 1px;
    color: rgb(255, 255, 255);
    transition: all .2s;
}

.airline-intro {
    margin-top: 15px;
    line-height: 20px;
}

.airline-logo-inner {
    padding: 5px;
    width: 700px;
    height: 300px;
}

.airline {
    margin: 10px;
    float: left;
}

.airline-link {
    position: relative;
    top: -117px;
    left: 530px;
    margin-left: 10px;
    width: 140px;
    height: 40px;
    float: left;
    border: black solid 1px;
    text-align: center;
    color: black;
    cursor: pointer;
    font-size: 12px;
    line-height: 40px;
    font-weight: normal;
    border-radius: 20px;
    transition: all .2s;
}

.airline-link:hover {
    background-color: rgb(0, 87, 184);
    border: rgb(0, 87, 184) solid 1px;
    color: rgb(255, 255, 255);
    transition: all .2s;
}

.dynamic-intro {
    margin-left: -20px;
}

.dynamic-pagelink {
    position: relative;
    left: 760px;
    bottom: 54px;
    width: 160px;
    height: 40px;
    border: #333 solid 1px;
    font-size: 14px;
    border-radius: 20px;
    color: #333;
    font-weight: normal;
}

.dynamic-pagelink:hover {
    background-color: rgb(0, 87, 184);
    border: rgb(0, 87, 184) solid 1px;
    color: rgb(255, 255, 255);
    transition: all .2s;
}

.area-select,
.ssguide-intro {
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #333;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
}

.area-select-inner,
.ssguide-inner {
    box-sizing: border-box;
    width: 650px;
    margin: 0 auto;
}

.area-select-inner::after,
.ssguide-inner::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.area,
.ssguide {
    position: relative;
    float: left;
    width: 150px;
    height: 150px;
    margin-left: 5px;
    margin-right: 5px;
    transition: all .2s;
}

.alt-of-area {
    position: absolute;
    bottom: 18px;
    left: 21px;
    color: #fff;
    line-height: 20px;
    font-weight: 600;
}

.alt-of-area2 {
    position: absolute;
    bottom: 18px;
    left: 37px;
    color: #fff;
    line-height: 20px;
    font-weight: 600;
}

.alt-of-ssguide {
    position: absolute;
    width: 145px;
    bottom: 22px;
    left: 4px;
    color: #fff;
    line-height: 20px;
    font-weight: 600;
}

.alt-of-area {
    position: absolute;
    bottom: 18px;
    left: 21px;
    color: #fff;
    line-height: 20px;
    font-weight: 600;
}

.hotel-pagelink {
    width: 200px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    margin-top: 4px;
    border: #333 solid 1px;
    font-size: 14px;
    border-radius: 20px;
    color: #333;
    font-weight: normal;
    transition: all .2s;
}

.hotel-pagelink:hover {
    background-color: rgb(0, 87, 184);
    border: rgb(0, 87, 184) solid 1px;
    color: rgb(255, 255, 255);
    transition: all .2s;
}

.rentacar-title {
    padding-top: 10px;
    text-align: center;
    font-size: 26px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    color: #333;
}

.rentacar-inner {
    width: 800px;
    height: 130px;

    margin: 0 auto;
}

a[class^=rentacar] {
    position: relative;
    display: block;
    float: left;
    box-sizing: border-box;
    width: 256px;
    height: 70px;
    margin: 5px;
    margin-top: 20px;
    border: #333 solid 1px;
    border-radius: 3px;

}

p[class^=company-name] {
    position: absolute;
    bottom: -40px;
    left: 65px;
    color: #333;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

a[class^=rentacar]:hover {
    border: rgb(0, 87, 184) solid 1px;
    box-shadow: 1px 1px 10px #333;
    transition: all .2s;
}

.rentacar1:hover .company-name1,
.rentacar2:hover .company-name2,
.rentacar3:hover .company-name3,
.rentacar4:hover .company-name4,
.rentacar5:hover .company-name5,
.rentacar6:hover .company-name6 {
    font-weight: bold;
}

.rentacar-pagelink {
    width: 200px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    margin-top: 15px;
    border: #333 solid 1px;
    font-size: 16px;
    border-radius: 20px;
    color: #333;
    font-weight: normal;
    transition: all .2s;
}

.rentacar-pagelink:hover {
    background-color: rgb(0, 87, 184);
    border: rgb(0, 87, 184) solid 1px;
    color: rgb(255, 255, 255);
    transition: all .2s;
}

.recommend-inner {
    position: relative;
    float: left;
    box-sizing: border-box;
    width: 862px;
    height: 350px;
    overflow: hidden;
}

.bgbar {
    position: absolute;
    left: 0;
    top: 0;
    box-sizing: border-box;
    width: 2589px;
    height: 350px;
}

.bgbar .bg {
    box-sizing: border-box;
    float: left;
    margin-right: 1px;
}

li[class^="recommendselecter"] {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .8);
    cursor: pointer;
    transition: all .3s;
}

.recommendselecter1 {
    bottom: 10px;
    left: 399px;
    z-index: 2;
}

.recommendselecter2 {
    bottom: 10px;
    left: 424px;
    z-index: 2;
}

.recommendselecter3 {
    bottom: 10px;
    left: 449px;
    z-index: 2;
}

li[class^="recommendselecter"]:hover {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 1px 10px rgba(0, 0, 0, .3);
    transition: all .3s;
}

.banner1 {
    box-sizing: border-box;
    width: 1024px;
    margin: 50px auto;
}

.banner1::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

div[class^=bannerad] {
    float: left;
    margin: 10px;
    box-shadow: 0 0;
    transition: all .3s;
}

.bannerad1:hover,
.bannerad2:hover {
    opacity: .8;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, .3);
}

.banner2 {
    width: 1024px;
    height: 200px;
    margin: 50px auto;

}

.banner2-title {
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.content-list {
    padding-left: 13px;
}

.banner2-inner {
    display: inline-block;
    width: 319px;
    height: 130px;
    box-sizing: border-box;
    margin: 5px;
    transition: all .3s;
}

.banner2-inner:hover {
    opacity: .8;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, .3);
    transition: all .3s;
}

.notice-section,
.contact-section {
    width: 1024px;
    margin: 50px auto;
    margin-bottom: 100px;
}

.notice-title,
.contact-title {
    height: 40px;
    line-height: 40px;
    font-size: 30px;
    font-weight: normal;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.time {
    font-size: 12px;
    color: gray;
}

div[class^=box] {
    display: inline-block;
    width: 100px;
    height: 20px;
    border-radius: 10px;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.box-notice {
    background-color: rgb(233, 76, 85);
}

.box-domestic {
    background-color: rgb(71, 196, 12);
}

.notice-content {
    line-height: 50px;
    height: 50px;
}

.notice-content:hover {
    text-decoration: underline;
}

.footer {
    width: 1330px;
    margin: 50px auto;
}

.footer .logo-section {
    float: left;
    width: 350px;
    height: 300px;

}

.footer .logo-inner {
    box-sizing: border-box;
    width: 300px;
    height: 83px;
}

.footer .nav_area {
    padding-top: 20px;
}

.footer-inner {
    float: right;
    margin-right: 30px;
    padding-bottom: 20px;
}

.footer div li a {
    font-weight: normal;
    color: rgb(17, 17, 17);
    font-size: 14px;
}

.footer div li a:hover {
    text-decoration: underline;
    color: gray;
}

.footer div h4 {
    color: rgb(0, 87, 184);
    font-size: 18px;
}

.footer::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.contact-one,
.contact-two {
    width: 310px;
    height: 120px;
}

.contact-one {
    background: url(image/contact.png) no-repeat;
}

.contact-two {
    background: url(image/contact.png) no-repeat;
    background-position: -415px 1px;
}

.adsection {
    position: absolute;
    top: 10px;
    left: 501px;
    width: 700px;
    height: 88px;
    box-sizing: border-box;
}

.adsection p {
    font-size: 26px;
    font-weight: 600;
    color: rgb(0, 87, 184);
}